.place__paragraph {
	margin: 0 0 26px 0;
	font-size: 18px;
	font-weight: 400;
	line-height: 29px;
	grid-column: 2;
}

.place__paragraph:last-child {
	margin-bottom: 0;
}

@media screen and (max-width: 991px) {
	.place__paragraph {
		font-size: 16px;
		line-height: 26.08px;
		grid-column: 2;
		margin-top: 0;
	}
}

@media screen and (max-width: 767px) {
	.place__paragraph {
		font-size: 16px;
		line-height: 26.08px;
		grid-column: 1;
		margin-left: 24px;
		margin-right: 24px;
	}

	.place__paragraph:first-of-type {
		margin-top: 32px;
	}
}

@media screen and (max-width: 320px) {
	.place__paragraph {
		margin: 0 auto 25px auto;
	}
}
